.pc-wr {
    position: relative;
    justify-content: space-between;
    max-width: 270px;
    padding: 0.75rem;
    border-radius: 5px;
    gap: 0.5rem;
}

.pc-wr:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.fk-assured-logo {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    height: 1rem;
}

.wishlist-icon {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.5rem;
    color: var(--grey1);
}

.add-to-cart-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    background-color: var(--orange);
    border-radius: 5px;
    border: none;
    outline: none;
    justify-content: center;
    gap: 0.5rem;
}

.add-to-cart-btn:hover {
    background-color: var(--orange2);
}

.cart-btn-cn {
    gap: 0.25rem;
}